* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse';
    src: url('Norse.woff2') format('woff2'),
        url('Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.woff2') format('woff2'),
        url('Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
}

.left {
    background-image: url(Img/halie-west-25xggax4bSA-unsplash.jpg);
    height: 100vh;
}